@model IEnumerable<CourseModel>

<link href="~/css/admin.css" rel="stylesheet" />

<section class="post-loop py-3 mb-3 admin-section">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h2>Manage Courses</h2>
            </div>
            <div class="col text-end">
                <a class="btn btn-success w-50" href="/CourseAdmin/AddItem">Add New Course</a>
            </div>
        </div>
        <div class="row">
            @foreach (CourseModel cmodel in Model)
            {
                <div class="list-group-item list-group-item-action my-3 rounded shadow-lg" id="r_@cmodel.Id">
                    <div class="row align-items-center g-3">
                        <div class="col-md-4">
                            <div class="course-image-holder">
                                <img class="rounded mb-md-0 mt-md-0 mt-2 content-image" src="/perm/img/@cmodel.ImageURL" alt="" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5>@cmodel.Title</h5>
                            <p class="text-secondary">@cmodel.Summary</p>
                            <p class="d-inline-flex align-items-center">
                                <span class="me-2 rounded-pill text-bg-warning px-2 py-1 small d-inline-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill me-2" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg>
                                    Rating: @cmodel.Rating
                                </span>
                                <span class="rounded-pill text-bg-success px-2 py-1 small">
                                    @String.Format("Price: {0:C}", cmodel.Price)
                                </span>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-warning w-75" href="/CourseAdmin/edit/@cmodel.Id">Edit</a>
                        </div>
                        <div class="col-md-2">
                            <a onclick="Educational.CreatePageCourse.delete('@cmodel.Title', @cmodel.Id)" class="btn btn-danger w-75" data-bs-toggle="modal" data-bs-target="#course_delete">Delete</a>
                        </div>
                    </div>
                </div>
            }

            @{
                await Html.RenderPartialAsync("~/Views/Shared/Pager.cshtml", new ViewDataDictionary(ViewData)
                {
                    {"Action", "courseAdmin"},
                    {"PageCount", ViewBag.pages},
                    {"CurrentPageNumber", ViewBag.currentPage}
                });
            }
        </div>
    </div>
</section>

<div class="modal fade backdrop-blur" id="course_delete" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="course_delete_data">
        </div>
    </div>
</div>

<script src="/js/createPageCourse.js" asp-append-version="true"></script>